<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kirjaudu</title>
    <link rel="stylesheet" href="/static/tailwind.css">
</head>
<body class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-full max-w-md bg-white p-8 rounded-lg shadow-md">
        
        <h2 class="text-2xl font-bold text-gray-800 text-center mb-6">Kirjaudu sisään</h2>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <h2 class="text-lg font-bold text-red-800 text-center mb-6">{{ message }}</h2>
            {% endfor %}
            </ul>
        {% endif %}
        {% endwith %}
        

        <form method="post">
            <div class="mb-4">
                <label for="username" class="block text-sm font-medium text-gray-700">Käyttäjätunnus</label>
                <input 
                    type="text"
                    id="username" 
                    name="username"
                    placeholder="Käyttäjätunnus" 
                    class="w-full px-4 py-2 mt-1 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    required
                />
            </div>
            <div class="mb-6">
                <label for="password" class="block text-sm font-medium text-gray-700">Salasana</label>
                <input 
                    type="password" 
                    id="password" 
                    name="password" 
                    placeholder="Salasana" 
                    class="w-full px-4 py-2 mt-1 border rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                    required
                />
            </div>
            <button 
                type="submit" 
                class="w-full bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2"
            >
                Kirjaudu
            </button>
        </form>
        <p class="mt-4 text-center text-sm text-gray-600">
            Ei käyttäjätunnusta? <a href="/register" class="text-blue-500 hover:underline">Rekisteröidy</a>
        </p>
    </div>
</body>
</html>
